body
{
  background-color: black;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.grid{

  display: grid;
  grid-template-areas: "d d d d"
                         "d d d d"
                         "d d d d";

}

.grid-item {
  box-shadow: 0 0 10px 0 rgb(255, 0, 22);
  position: relative;
  background: inherit;
  text-align: center;
  overflow: hidden;
  border-radius: 10px;
}

.grid-item:before{
  content: "";
  position: absolute;
  background: inherit;
  top:0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 1000px rgb(9, 6, 6);
  filter: blur(5px);
  margin: -2px;
  z-index: -1;
}
.grid-item:nth-child(1)
{

  max-width: 100%;
  min-height: 20px;
  grid-area: d;
  margin-bottom: 10px;

}

hr {
  border: 1px solid red;
}

.wrapper{
  max-width: 100%;
  min-height: 10px;
  display: flex;

}

.wrapper .left{
  max-width: 30%;
  background: linear-gradient(to right, #ff0000, #000000);
  padding: 10px 15px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: black;
  opacity: 0.9;
}

.wrapper .left img{
  border-radius: 5px;
  margin-bottom: 5px;
}

.wrapper .left h4{
  margin-top: 10px;
}

.wrapper .left p{
  font-size: 18px;
}

.wrapper .right{
  width: 85%;
  color: white;
  background: black;
  padding: 10px 15px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  opacity: 0.9;


}
.datapost{
  margin-top:25px;
  text-align: right;
}

.label{
  font-size: 24px;
}
